html {
    cursor: url('focus-cursor.png') 50 50, auto;

    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    margin-top: calc(50vh - 324px);
}

.binarycodewrapper {
    float: left;
    width: 612px;
    height: 648px;
    background-color: black;
    padding: 10px;
    overflow: hidden;
    z-index: 1;
}

#flexbox {
    width: 26px;
    height: 48px;
    /*border: 1px solid red;*/
    transition: ease-in-out 0.7s;
    transform: scale(1);
    overflow: hidden;
}

.floatl {
    float: left;
}

.floatr {
    float: right;
}

.old {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    transition: ease-in 0.2s;
    transition-delay: 0.5s;
}

.new {
    text-align: center;
    word-spacing: normal;
    font-size: 16px;
    padding-top: calc(24px - 1em);
    opacity: 0;
    transition: ease-in 0.1s;
}

#flexbox:hover .old {
    opacity: 0;
}

#flexbox:hover .new {
    text-align: center;
    word-spacing: normal;
    font-size: 16px;
    opacity: 1;
    transition: ease-in 0.2s;
    transition-delay: 1s;
}

#flexbox.floatl:hover {
    width: 334px;
    height: 48px;
    float: left;
    transition: 1s ease-in-out;
    display: block;
    transform: scale(1);
    float:left;
}

#flexbox.floatr:hover {
    width: 300px;
    height: 48px;
    float: left;
    transition: 1s ease-in-out;
    display: block;
    transform: scale(1);
    float:right;
}


.arrow {
    position: relative;
    width: 3px;
    height: 3px;
    border: solid white;
    display: block;
    border-width: 0 3px 3px 0;
    padding: 3px;
}
  
.down {
    left: 594px;
    top: -3px;
    transform: rotate(45deg);
}

.lowerleft {
    transform: rotate(90deg);
}

.blink {
    animation: blink-animation 0.7s ease-in infinite;
    animation-direction: alternate;
}
@keyframes blink-animation {
0% {
    opacity: 0;
    }
100% {
    opacity: 1;
    }
}

