html {
    cursor: url('focus-cursor.png') 50 50, auto;

    background-color: black;
}

body {
    display: flex;
    margin-left: calc(50vw - 306px);
    margin-top: calc(50vh - 321px);
}

.binarycodewrapper {
    position: absolute;
    width: 612px;
    height: 642px;
    padding: 10px;
    overflow: hidden;
    filter: blur(5px);
    transition: cubic-bezier(0.645, 0.045, 0.355, 1) 1s;
}

.binarycodewrapper:hover {
    transition: ease-in-out 0.7s;
    filter: none;
}

#flexbox {
    width: 26px;
    height: 48px;
    /* border: 1px solid red; */
    transition: ease-in-out 0.7s;
    transform: scale(1);
    overflow: hidden;
}

.floatl {
    float: left;
}

.floatr {
    float: right;
}

.old {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    transition: ease-in 0.2s;
    transition-delay: 0.5s;
}

.new {
    text-align: center;
    word-spacing: normal;
    font-size: 16px;
    padding-top: calc(24px - 1em);
    opacity: 0;
    transition: ease-in 0.1s;
}

#flexbox:hover .old {
    opacity: 0;
}

#flexbox:hover .new {
    text-align: center;
    word-spacing: normal;
    font-size: 16px;
    opacity: 1;
    transition: ease-in 0.2s;
    transition-delay: 1s;
}

#flexbox.floatl:hover {
    width: 334px;
    height: 48px;
    float: left;
    transition: 1s ease-in-out;
    display: block;
    transform: scale(1);
    float:left;
}

#flexbox.floatr:hover {
    width: 300px;
    height: 48px;
    float: left;
    transition: 1s ease-in-out;
    display: block;
    transform: scale(1);
    float:right;
}


.arrow {
    position: relative;
    width: 3px;
    height: 3px;
    border: solid white;
    display: block;
    border-width: 0 3px 3px 0;
    padding: 3px;
}
  
.down {
    left: 594px;
    top: -3px;
    transform: rotate(45deg);
}

.lowerleft {
    top: -1em;
    transform: rotate(90deg);
}

.lowerright {
    top: -1em;
    right: -300px;
}

.blink {
    animation: blink-animation 0.7s ease-in infinite;
    animation-direction: alternate;
}
@keyframes blink-animation {
0% {
    opacity: 0;
    }
100% {
    opacity: 1;
    }
}

/* TRAPPED-ESCAPE STYLE */

.escapeoverlay {
    visibility: hidden;
    opacity: 0;
}

.escapeoverlay:target {
    visibility: visible;
    opacity: 1;
}

.jailbar {
    position:absolute;
    width: 24px;
    height: 642px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    background-color: black;
    z-index: 2;
}

.left {
    left: 42px;
}

.middle {
    left: 245px;
}

.right {
    left: 450px;
}

.questiontext {
    position: absolute;
    top: 60px;
    width: 642px;
    font-size: 24px;
    color: white;
    mix-blend-mode: difference;
    text-align: center;
    word-spacing: 24px;
    font-family: 'Share Tech Mono';
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}

#escape {
    position: absolute;
    width: 0px;
    height: 642px;
    background-color: rgba(255,255,255,0);
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#escape:target {
    position: absolute;
    width: 612px;
    height: 642px;
    background-color: rgba(255,255,255,1);
    padding: 10px;
    overflow: hidden;
    animation: escapebox steps(6) 1.5s;
}

#escape:target ~ .jailbar{
    position: relative;
    width: 24px;
    height: 642px;
    background-color: black;
    visibility: visible;
    animation: test ease-in 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#escape:target ~ .questiontext {
    position: absolute;
    visibility: visible;
    opacity: 1;
    transition: ease 2s;
    transition-delay: 2.5;
}

@keyframes test {
    0% {opacity: 0; height: 0px;}
    100% {opacity: 1; height: 642px;}
}


@keyframes escapebox {
    0%   {opacity: 0; width: 0px;}
    3%   {opacity: 1; width: 0px;}
    50%  {opacity: 1; width: 306px;}
    100% {opacity: 1; width: 612px;}
}

/* BREAK THE BAR STYLE */

.brokenbar {
    position: absolute;
    top: 0;
    background-color: solid transparent;
    height: 662px;
    width:110px;
    z-index: 0; 
    opacity: 1;
    visibility: visible;
}

.newleft {
    left: 10px;
    transform: rotate(180deg);
} 


.newmiddle {
    left: 255px;
} 

.newright {
    left: 506px;
    transform: rotate(180deg);
}

.binarycodewrapper-w {
    position: absolute;
    width: 612px;
    height: 642px;
    background-color: white;
    padding: 10px;
    overflow: hidden;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1) 1s;
}

.successtext {
    position: absolute;
    top: 60px;
    width: 642px;
    font-size: 24px;
    color: white;
    mix-blend-mode: difference;
    text-align: center;
    word-spacing: 24px;
    font-family: 'Share Tech Mono';
    opacity: 0;
    z-index: 10;
    animation: success ease-in-out 2s infinite alternate;
    animation-delay: 0.5s;
}

@keyframes success {
    0%  {opacity:0;}
    100% {opacity: 1;}
}

.yellowbackground {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: -3;
}

#escape:target ~ .yellowbackground {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color:darkorange;
    position: absolute;
    visibility: visible;
    opacity: 1;
    transition: ease-in-out 2s;
    transition-delay: 2s;
}

.perspective {
    position: absolute;
    background-image: url(perspective.png);
    width: 0px;
    height: 0px;
    top: calc(50vh);
    left: calc(50vw);
    z-index: 2;
}

#escape:target ~ .perspective {
    position: absolute;
    top: calc(50vh - 320px);
    left: calc(50vw - 306px);
    width: 632px;
    height: 662px;
    visibility: visible;
    opacity: 1;
    transition: ease-in-out 2s;
    transition-delay: 4s;
}

#bluebox {
    position: relative;
    top: 331px;
    left: 316px;
    background-color: transparent;
    width: 0px;
    height: 0px;
    padding: 8px;
    z-index: 3;
    overflow: hidden;
}

#escape:target ~ #bluebox {
    font-size: 24px;
    word-spacing: normal;
    color: transparent;
    padding: 6px;
    position: relative;
    top: 183.4px;
    left: 175.1px;
    width: 259.2px;
    height: 281.8px;
    background-color: blue;
    visibility: visible;
    opacity: 1;
    transition: ease-in-out 2s;
    transition-delay: 4s;
}

@keyframes scaleup {
    0% {width: 259.2px; height: 352.25px;}
    25% {width:324px; height: 100vh}
}

.gooutsidetext {
    position: absolute;
    top: 100px;
    width: 642px;
    font-size: 24px;
    color: white;
    mix-blend-mode: difference;
    text-align: center;
    word-spacing: 24px;
    font-family: 'Share Tech Mono';
    opacity: 0;
    z-index: 10;
}

#escape:target ~ .gooutsidetext {
    position: absolute;
    top: 100px;
    width: 642px;
    font-size: 24px;
    color: white;
    mix-blend-mode: difference;
    text-align: center;
    word-spacing: 24px;
    font-family: 'Share Tech Mono';
    opacity: 1;
    z-index: 10;
    transition: ease-in-out 0.5s;
    transition-delay: 6s;
}

#scaleup {
    width: 3px;
    height: 3px;
    background-color: transparent;
}

#scaleup:target ~bluebox {
    position: relative;
    top: 331px;
    left: 316px;
    background-color: transparent;
    width: 642px;
    height: 662px;
    font-size: 24px;
    word-spacing: normal;
    color: white;
    padding: 8px;
    z-index: 3;
    overflow: hidden;
    transition: ease-in-out 0.5s;
}

/* SCALEUP */

.perspective2 {
    position: absolute;
    background-image: url(perspective.png);
    top: calc(50vh - 320px);
    left: calc(50vw - 306px);
    width: 632px;
    height: 662px;
    visibility: visible;
    opacity: 1;
    transition: ease-in-out 2s;
    transition-delay: 4s;
    z-index: 1;
}

.yellowbackground2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color:darkorange;
    position: absolute;
    visibility: visible;
    opacity: 1;
    transition: ease-in-out 2s;
    transition-delay: 2s;
    z-index: -3;
}

#bluebox2 {
    padding: 6px;
    position: relative;
    top: 183.4px;
    left: 175.1px;
    width: 259.2px;
    height: 281.8px;
    background-color: blue;
    visibility: visible;
    opacity: 1;
    transition: ease-in-out 2s;
    transition-delay: 4s;
    z-index: 3;
}

#bluebox3 {
    padding: 6px;
    position: absolute;
    top: 120px;
    left: 128px;
    width: 378px;
    height: 410px;
    background-color: blue;
    visibility: visible;
    opacity: 0;
    animation: scaleup 0.5s linear;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    z-index: 4;
}


#bluebox4 {
    padding: 12px;
    position: relative;
    top: -298px;
    width: 612px;
    height: 642px;
    background-color: blue;
    visibility: visible;
    opacity: 0;
    z-index: 5;
    overflow: hidden;
    animation: scaleup 0.5s linear;
    animation-delay: 1.5s;
    animation-fill-mode: forwards
}

#bluebox5 {
    padding: 12px;
    position: absolute;
    top: 0px;
    width: 612px;
    height: 642px;
    background-color: blue;
    visibility: visible;
    opacity: 0;
    z-index: 6;
    overflow: hidden;
    animation: scaleup 0.5s linear;
    animation-delay: 3s;
    animation-fill-mode: forwards
}

@keyframes scaleup {
    0% {opacity:0;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75; }
    100% {opacity: 1; }    
}