body {
    font-family: 'Inter', serif;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

/* PART 1: ZOOM CALL  */
#wrapper-js {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

/* PART 2: ZOOM ANIMATION  */
#wrapper-cl {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}

/* PART 3: APP IN ACTION  */
#wrapper-rw {
    width: 100vw;
    height: fit-content;
    background: linear-gradient(#FF6D05 0%, black 100%);
    color: white;
}

#content-container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 72px;
    width: 1200px;
    height: 1024px;
    padding: 72px 0px;
}

#main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items:center;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    width: 100%;
    height: 186px;
}

#app-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 1200px;
    height: fit-content;
    border-radius: 32px;
    padding: 48px 36px;
    gap: 64px;
    background-color: rgba(255, 255, 255, 0.2);
}

#review {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 52px;
    width: auto;
    height: 100%;
    font-size: 28px;
    font-weight:normal;
    font-style: italic;
}

.mockimg {
    position: relative;
    width: auto;
    height: 100%;
}

.link-button {
    position: relative;
    display: flex;
    width: 280px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60px;
    border: solid 2px white;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: initial;
    font-style: normal;
}

.link-button:hover {
    box-shadow:
    0 0 10px #ffffff,
    10px 0 50px rgba(172, 255, 240, 0.6);
    transition: ease-in 0.1s;
}
