html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Comfortaa";
}
canvas {
  display: block;
}

a:link { 
  color: rgb(255, 188, 166); 
  text-decoration: none; 
}
a:visited { 
  color: rgb(255, 188, 166); 
  text-decoration: none; 
}

iframe {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  height: 30vh;
  scale: 0.75;
}

label {
  display: flex;
  position: relative;
  text-align: center;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 5px;
  width: 100px;
  height: 12px;
  border: 3px solid white;
  border-radius: 8px;
}


.canvas1 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 15px;
  border-radius: 30px;
  border-style: solid;
  border-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 188, 166, 0.5), #9198e5, rgba(0, 0, 0, 0)) 1 100%;
}

.canvas2 {
  position: relative;
  margin-left: calc(50vw - 110px);
}

.dnabg{
  width:100vw;
  height:100vh;
  background-image: url("dna.gif");
}

#labmap {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 100vw;
  height: 600px;
}
.map {
  height: 550px;
  width: 600px;
  background-image: url(labmap.png);
}

.lab1 {
  display:flex;
  position: fixed;
  margin-top: 78px;
  margin-left: -310px;
  width: 230px;
  height: 270px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.lab1:hover {
  font-size: 24px;
  color: rgba(255, 188, 166);
  font-weight: bold;
  background-color: #9198e5;
}

.lab2 {
  display:flex;
  position: fixed;
  margin-top: 78px;
  margin-left: 274px;
  width: 286px;
  height: 270px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.lab2:hover {
  font-size: 24px;
  color: rgba(255, 188, 166);
  font-weight: bold;
  background-color: #9198e5;
}

.archive {
  display:flex;
  position: fixed;
  margin-top: 378px;
  margin-left: 6px;
  width: 554px;
  height: 150px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.textori {
  position: fixed;
  opacity:1;
  visibility: visible;
}

.textnew {
  position: fixed;
  visibility: hidden;
  opacity:0; 
}

.archive:hover {
  font-size: 24px;
  color: rgba(255, 188, 166);
  font-weight: bold;
  background-color: red;
}

.archive:hover .textori {
  opacity:0;
  visibility: hidden;
}

.archive:hover .textnew {
  visibility: visible;
  opacity:1;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

/* INSTRUCTION TEXT STYLE */

.rightcol {
  display:flex;
  width:60%;
  height: 50vh;
  align-items:flex-end;
  justify-content: left;
  float: right;
}

.leftcol {
  display:flex;
  width:40%;
  height:50vh;
  align-items: flex-end;
  justify-content: right;
}

.rightcol-mid {
  display:flex;
  width:60%;
  height: 50vh;
  align-items:center;
  justify-content: left;
  float: right;
}

.leftcol-mid {
  display:flex;
  width:40%;
  height:50vh;
  align-items: center;
  justify-content: right;
}

.rightcol-arc {
  display:flex;
  width:50%;
  height: 75vh;
  align-items:center;
  justify-content: left;
  float: right;
}

.leftcol-arc {
  display:flex;
  width:50%;
  height:75vh;
  align-items: center;
  justify-content: right;
}

.toprow {
  display:flex;
  width:100%;
  height:35vh;
  align-items: center;
  justify-content: center;

}

.titlerow {
  display:flex;
  width:100%;
  height:20vh;
  align-items: center;
  justify-content: center;

}

.archiverow {
  display:flex;
  width:100%;
  height:65vh;
  align-items: center;
  justify-content: center;

}

#draw-container {
  display: flex;
  position: relative;
  margin-left: 25vw;
  padding: 16px;
  width: 50vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
  border: 2px dashed rgba(255, 188, 166);
  border-radius: 10px;
}

#question-container {
  display: flex;
  position: relative;

  padding: 16px;
  width: 30vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
  border: 2px dashed rgba(255, 188, 166);
  border-radius: 10px;
}

#welcome-container {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  position: relative;
  padding: 16px;
  width: 50vw;
  height: 30vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px dashed rgba(255, 188, 166);
  border-radius: 10px;
  background-color: rgba(0,0,0,0.75);
}

#title-container {
  font-size: 36px;
  font-weight: bold;
  display: flex;
  position: relative;
  padding: 16px;
  width: 50vw;
  height: 5vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px dashed rgba(255, 188, 166);
  border-radius: 10px;
  background-color: rgba(0,0,0,01);
}

#upload-container {
  display: flex;
  position: relative;
  /* margin-left: 25vw; */
  /* margin-top: 25vh; */
  padding: 16px;
  width: 30vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
  border: 2px dashed rgba(255, 188, 166);
  border-radius: 10px;
}

#where-container {
  display: flex;
  position: relative;
  margin-left: 33vw;
  margin-top: 10vh;
  padding: 16px;
  width: 30vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
  border: 2px dashed rgba(255, 188, 166);
  border-radius: 10px;
}


/* BUTTON STYLE */
.button {
  display: block;
  position: fixed;
  margin-left: calc(50vw - 100px);
  /* margin-bottom: 1vh; */
  margin-bottom: 0px;
  font-family:"Comfortaa";
  font-size: 24px;
  padding: 10px 24px;
  background-color: rgba(255, 188, 166, 1);
  border-radius: 6px;
}

/* .nextbutton {
  width:25px;
  height:40px;
  margin: 10px;
  background-color: rgb(255, 188, 166);
  clip-path: polygon(100% 50%, 0% 0%, 35% 50%, 0% 100%);
} */

#next-container {
  display: block;
  float: right;
  color: rgb(255, 188, 166);
  font-size:24px; 
  padding: 6px 24px;
  border: 3px solid rgb(255, 188, 166);
  border-radius: 6px;
  margin-right: calc(50vw - 150px);
  align-items: center;
}

#back-container {
  position:relative;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  color: rgb(255, 188, 166);
  width:170px;
  font-size:24px; 
  padding: 6px 24px;
  border: 3px solid rgb(255, 188, 166);
  border-radius: 6px;
  align-items: center;
}

.choicebutton{
  display:flex;
  color: rgb(255, 188, 166);
  width:170px;
  font-size:16px; 
  padding: 6px 24px;
  margin:20px;
  border: 3px solid rgb(255, 188, 166);
  border-radius: 6px;
  align-items: center;
  text-align: center;
}

#choice-container {
  display:flex;
  justify-content: center;
  position:relative;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;

}

/* SLIDER STYLE */
input[type=range].slider {
  display: block;
  position: relative;
  margin-left: calc(50vw - 10px);
  margin-top: -3.5vh;
  width: 100px;
  background-color: transparent;
  appearance: none;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  margin-top: 6px;
  background: rgba(255,255,255,0.4);
  border: 0px solid rgba(1, 1, 1, 0);
  border: 0;
  border-radius: 5px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type=range].slider::-webkit-slider-thumb {
  margin-top: -6px;
  width: 12px;
  height: 20px;
  background: rgb(255, 188, 166);
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  -webkit-appearance: none;
}




