html, body {
  display: flex;
  margin: 0px 0px 0px 0px;
  width: 100vw;
  font-family: 'Bodoni Moda', serif;
  letter-spacing: 0.1em;
  color: white;
  text-align: center;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}







/* SCROLL SETUP */
  /* Scrollbar Width */
::-webkit-scrollbar {
  width: 10px;
}

  /* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(173,133,75,0.4); 
  border-radius: 10px;
}
 
  /* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #184ae7); 
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #C94D11; 
}







/* SCROLL COLUMN SETUP */
#leftcol {
  direction: rtl;
  text-align: left;
}

#leftcol > * {
  direction: ltr;
}

#leftcol {
  color: #ffffff;
  font-size: 2.5vh;
  width: 50%;
  height: 100vh;
  float: left;
  background: rgba(2,0,36,1);
  background-size: 200%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#rightcol {
  color: #184ae7;
  font-size: 2.5vh;
  width: 50%;
  height: 100vh;
  float: right;
  background: linear-gradient(90deg, rgba(255,247,172,1) 5%, rgba(220,196,150,1) 25%, rgba(173,133,75,1) 65%);
  overflow-x: hidden;
  overflow-y: scroll;
  background-size: 150%;
}









/* MOUNTAINS */
#mountain {
  position: relative;
  background-color: rgba(2,0,36,1);
  transform-origin: 50% 50%;
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

.large-mtn {
  width: 25vw;
  height: 25vw;
}

.mid-mtn {
  width: 18vw;
  height: 18vw;
}

.small-mtn {
  width: 10vw;
  height: 10vw;
}

.mtn-spacer {
  height: 120vh;
}

#mountain-wrapper {
  position: relative;
  /* top: -1000vh; */
  width: 100%;
  min-height: 900vh;
  margin: 0;
}

#mountain-wrapper:hover #mountain {
  animation: morph-anim 5s ease-in-out forwards;
  animation-delay: 5s;
}

/* #mountain-wrapper:not(#mountain-wrapper:hover) #mountain {
  animation: reverse-morph-anim 2s ease-in-out forwards;
} */

#container-mtn-1 {
  position: sticky;
  width: 100%;
  height: 35%;
  /* border: solid red 1px; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 65%;
  left: 0;
  z-index: 10;
}

#container-mtn-2 {
  position: sticky;
  width: 75%;
  height: 35%;
  /* border: solid red 1px; */
  display: flex;
  justify-content: right;
  align-items: flex-end;
  left: 25%;
  top: 50%;
  opacity: 0.7;
  z-index: 9;
}

#container-mtn-3 {
  position: sticky;
  width: 100%;
  height: 35%;
  /* border: solid red 1px; */
  display: flex;
  justify-content: left;
  align-items: flex-end;
  left: 25%;
  top: 45%;
  opacity: 0.40;
  z-index: 8;
}

#container-mtn-4 {
  position: sticky;
  width: 75%;
  height: 35%;
  /* border: solid red 1px; */
  display: flex;
  justify-content: left;
  align-items: flex-end;
  left: 75%;
  top: 35%;
  opacity: 0.20;
  z-index: 7;
}

#container-mtn-5 {
  position: sticky;
  width: 100%;
  height: 35%;
  /* border: solid red 1px; */
  display: flex;
  justify-content: left;
  align-items: flex-end;
  left: 0%;
  top: 30%;
  opacity: 0.20;
  z-index: 6;
}

@keyframes morph-anim {
  0% {
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%, 100% 100%);
    border-radius: 0px;
  }
  30% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
    border-radius: 0px;
  }
  90% {
    clip-path: none;
    border-radius: 100%;
  }
  100% {
    clip-path: none;
    border-radius: 100%;
    transform: scale(0.3);
    transform-origin: center;
  }
}

@keyframes reverse-morph-anim {
  0% {
    clip-path: none;
    border-radius: 100%;
    transform: scale(0.3);
    transform-origin: center;
  }

  10% {
    clip-path: none;
    border-radius: 100%;

  }
  70% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
    border-radius: 0px;
  }
  100% {
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%, 100% 100%);
    border-radius: 0px;
  }
}

.noise {
  background: radial-gradient(circle at 50% 0%, blue 0%, transparent 80%),
    url(https://grainy-gradients.vercel.app/noise.svg);
  filter: contrast(120%) brightness(800%) invert(100%);
  mix-blend-mode: screen; 
}







/* WATERDROP*/
#drop-wrapper {
  position: relative;
  width: 100%;
  min-height: 150vh;
  background: linear-gradient(rgba(2,0,36,1) 15%, rgba(9,9,121,1) 40%, rgba(255,247,172,1) 100%);
}

.container-drop-center {
  display: flex;
  width:100%;
  height: 10%;
  align-items: center;
  justify-content:space-around;
}

.container-drop-bottom {
  display: flex;
  width:100%;
  height: 5%;
  align-items:flex-end;
  justify-content:space-around;
}

.container-drop-top {
  display: flex;
  width:100%;
  height: 5%;
  align-items:flex-start;
  justify-content:space-around;
}

.drop {
  position: relative;
  /* background-color: rgba(2,0,36,1);
  transform-origin: 50% 50%; */
  border-radius: 100%;
}

.large-drop {
  width: 8vw;
  height: 8vw;
}

.mid-drop {
  width: 6vw;
  height: 6vw;
}

.small-drop {
  width: 3vw;
  height: 3vw;
}

.t75 {
  opacity: 0.75;
}

.t50 {
  opacity: 0.50;
}

.t25 {
  opacity: 0.25;
}

.noise-d1 {
  background: radial-gradient(circle at 50% 50%, blue 0%, transparent 120%),
    url(https://grainy-gradients.vercel.app/noise.svg);
  filter: contrast(120%) brightness(800%) invert(100%);
  mix-blend-mode: screen; 
}
.noise-d2 {
  background: radial-gradient(circle at 50% 50%, blue 0%, transparent 50%),
    url(https://grainy-gradients.vercel.app/noise.svg);
  filter: contrast(120%) brightness(800%) invert(100%);
  mix-blend-mode: screen; 
}






/* SEA */
#sea-wrapper {
  position:absolute;
  height: 110vh;
  width: 100%;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(255,247,172,1);
}
#marquee1 {
  width: 5000vw;
  position: relative;
  animation: lefttextscroll infinite 15s ease-in-out;
}
#marquee2 {
  width: 5000vw;
  position: relative;
  animation: righttextscroll infinite 60s linear;
}

@keyframes lefttextscroll {
  from{left: 0vw;}
  to{left: -134.5vw}
}
@keyframes righttextscroll {
  from{left: -65.5vw;}
  to{left: 0;}
}


.wave {
  display: flex;
  position: relative;
  width:20vw;
  height:10vw;
  border-radius: 100%;
}

.wave2 {
  display: flex;
  position: relative;
  width:30vw;
  height:10vw;
  border-radius: 100%;
}

.cl1 {
  background-color: rgba(9,9,121,1);
}

.cl2 {
  background-color: rgb(57, 57, 193,1);
}

.cl3 {
  background-color: rgb(111, 132, 237);
}

.cl4 {
  background-color: rgb(139, 182, 255);
}

.cl5 {
  background-color: rgb(216, 230, 255);
} 

#container-wave-1 {
  overflow-y: hidden;
  position: absolute;
  display: flex;
  width: 200vw;
  height: 12vh;
  align-items:flex-start;
  background: linear-gradient(transparent 40%, rgba(9,9,121,1) 40%);
  top: 100vh;
  left: 0;
  z-index: 10;
  animation: lefttextscroll infinite 15s linear;
}

#container-wave-2 {
  overflow-y: hidden;
  position: absolute;
  display: flex;
  width: 200vw;
  height: 12vh;
  align-items:flex-start;
  background: linear-gradient(transparent 40%, rgb(57, 57, 193,1) 40%);
  top: 93vh;
  left: 0;
  z-index: 8;
  animation: lefttextscroll infinite 20s linear;
}

#container-wave-3 {
  overflow-y: hidden;
  position: absolute;
  display: flex;
  width: 200vw;
  height: 12vh;
  align-items:flex-start;
  background: linear-gradient(transparent 40%, rgb(111, 132, 237) 40%);
  top: 96vh;
  left: 0;
  z-index: 9;
  animation: righttextscroll infinite 15s linear;
}

#container-wave-4 {
  position: absolute;
  display: flex;
  width: 200vw;
  height: 10vh;
  align-items:flex-start;
  background: linear-gradient(transparent 40%, rgb(139, 182, 255) 40%);
  top: 89vh;
  left: 0;
  z-index: 7;
  animation: righttextscroll infinite 10s linear;
}

#container-wave-5 {
  position: absolute;
  display: flex;
  width: 200vw;
  height: 10vh;
  align-items:flex-start;
  background: linear-gradient(transparent 50%, rgb(216, 230, 255) 50%);
  top: 85vh;
  left: 0;
  z-index: 6;
  animation: lefttextscroll infinite 30s linear;
}






/* JON FOSSE POEM COMPOSITION */
.left-arrow-wrapper {
  position: relative;
  width: 2em;
  height: 100%;
  align-items: center;
}

.right-arrow-wrapper {
  display: flex;
  width: 2em;
  height: 100%;
  align-items: center;
  float:right;
}

.left-arrow {
  position: absolute;
  top: calc(50% - 0.5em);
  width: 1em;
  height: 1em;
  clip-path: polygon(0% 50%, 100% 0%, 65% 50%, 100% 100%);
}

.right-arrow {
  float: right;
  top: calc(50% - 0.5em);
  width: 1em;
  height: 1em;
  clip-path: polygon(100% 50%, 0% 0%, 35% 50%, 0% 100%);
}

.noise2 {
  background: linear-gradient(90deg, blue 0%, transparent 100%),
    url(https://grainy-gradients.vercel.app/noise.svg);
  filter: contrast(120%) brightness(150%) invert(0%);
  mix-blend-mode:normal;
}

.noise3 {
  background: linear-gradient(-90deg,#006BFD 0%, transparent 100%),
    url(https://grainy-gradients.vercel.app/noise.svg);
  filter: contrast(300%) brightness(75%) invert(100%);
  mix-blend-mode:normal;
}

.blink {
  animation: blink-animation 1s ease infinite none running;
  animation-direction: alternate;
}

@keyframes blink-animation {
0% {
  opacity: 0.5;
  transform: scale(0.85);
  }
100% {
  opacity: 1;
  }
}

.textblink {
  animation: textblink-animation 0.5s ease infinite none running;
  animation-direction: alternate;
}

@keyframes textblink-animation {
0% {
  opacity: 0.5;
  }
100% {
  opacity: 1;
  }
}

#poem-wrapper {
  min-height: 1000vh;
  padding: 2vh 2vh 2vh;
  z-index: 1;
}

.poem-spacer {
  height: 100vh;
}

#poem1 {
  display: flex;
  width: 100%;
  height: 10%;
  text-align: left;
  position: sticky;
  top: 2vh;
  left: calc(50);
  cursor: pointer;
}

#poem2 {
  display: flex;
  width: 100%;
  height: 10%;
  position: sticky;
  text-align: left;
  left: 0;
  top: 5em;
  cursor: pointer;
}

#poem3 {
  display: flex;
  width: 100%;
  height: 10%;
  position: sticky;
  text-align: left;
  left: 0;
  top: 11em;
}

#poem4 {
  display: flex;
  width: 100%;
  height: 10%;
  position: sticky;
  text-align: left;
  left: 0;
  top: 12.5em;
  cursor: pointer;
}

#poem5 {
  display: flex;
  width: 100%;
  height: 10%;
  position: sticky;
  text-align: left;
  left: 0;
  top: 14em;
  cursor: pointer;
}

#poem6 {
  display: flex;
  width: 100%;
  height: 10%;
  position: sticky;
  text-align: left;
  left: 0;
  top: 19em;
  cursor: pointer;
}







/* ALT TEXT POEM COMPOSITION */
.photo {
  padding: 5%;
  width: 85%;
  border-bottom: 1px solid rgba(255,247,172,1);
}

.photo-v {
  padding: 5%;
  height: 50%;
  border-bottom: 1px solid rgba(255,247,172,1);
}

.text {
  display: flex;
  width: 100%;
  height: 10%;
  position: relative;
  text-align: right;
  left: 0;
}

.cap {
  width: 100%;
  height: 10%;
  font-size: 1vh;
  position: relative;
  text-align: right;
  left: 0;
}

#alt1-wrapper {
  display: none;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: black;
  color: rgba(255,247,172,1);
  text-align: right;
  z-index: 5;
}
#poem1:active {
  text-decoration-line: line-through;
}
#poem1:active ~ #alt1-wrapper{
  display: block;
  opacity: 1;
}

#alt2-wrapper {
  display: none;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: black;
  color: rgba(255,247,172,1);
  text-align: right;
  z-index: 5;
}
#poem2:active {
  text-decoration-line: line-through;
}
#poem2:active ~ #alt2-wrapper{
  display: block;
  opacity: 1;
}

#alt3-wrapper {
  display: none;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: black;
  color: rgba(255,247,172,1);
  text-align: right;
  z-index: 5;
}
#poem4:active {
  text-decoration-line: line-through;
}
#poem4:active ~ #alt3-wrapper{
  display: block;
  opacity: 1;
}

#alt4-wrapper {
  display: none;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: black;
  color: rgba(255,247,172,1);
  text-align: right;
  z-index: 5;
}
#poem5:active {
  text-decoration-line: line-through;
}
#poem5:active ~ #alt4-wrapper{
  display: block;
  opacity: 1;
}

#alt5-wrapper {
  display: none;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: black;
  color: rgba(255,247,172,1);
  text-align: right;
  z-index: 5;
}
#poem6:active {
  text-decoration-line: line-through;
}
#poem6:active ~ #alt5-wrapper{
  display: block;
  opacity: 1;
}






/* RESPONSIVE SETUP */
@media screen and (max-width: 800px) {
  html, body {
    display: block;
  }
  #leftcol {
    width: 100vw;
    height: 40vh;
    overflow-y: scroll;
  }
  #rightcol {
    width: 100vw;
    height: 60vh;
    overflow-y: scroll;
    font-size: 2.5vw;
  }

  .photo {
    position: relative;
    padding: 2%;
    top:0;
    width: 60%;
    border-right: 1px solid rgba(255,247,172,1);
    border-bottom: 0;
  }

  .photo-v {
    position: relative;
    padding: 2%;
    top:0;
    height: 65%;
    border-right: 1px solid rgba(255,247,172,1);
    border-bottom: 0;
  }

  .text {
    width: 100%;
    height: 10%;
    position: relative;
    text-align: right;
    top: 0;
    right: 0;
    justify-content: right;
  }

  .cap {
    width: 25%;
    height: 10%;
    font-size: 0.5em;
    position: absolute;
    text-align: right;
    bottom: 10%;
    left: 75%;
  }
  
  #alt1-wrapper {
    width: 100vw;
    height: 40vh;
    align-items: center;
  }

  #alt2-wrapper {
    width: 100vw;
    height: 40vh;
    align-items: center;
  }

  #alt3-wrapper {
    width: 100vw;
    height: 40vh;
    align-items: center;
  }

  #alt4-wrapper {
    width: 100vw;
    height: 40vh;
    align-items: center;
  }

  #alt5-wrapper {
    width: 100vw;
    height: 40vh;
    align-items: center;
  }

  #poem1:active ~ #alt1-wrapper{
    display: flex;
    opacity: 1;
  }
  #poem2:active ~ #alt2-wrapper{
    display: flex;
    opacity: 1;
  }
  #poem4:active ~ #alt3-wrapper{
    display: flex;
    opacity: 1;
  }
  #poem5:active ~ #alt4-wrapper{
    display: flex;
    opacity: 1;
  }
  #poem6:active ~ #alt5-wrapper{
    display: flex;
    opacity: 1;
  }

  #container-wave-1 {
    height: 12vw;
    top: 95%;
  }
  #container-wave-2 {
    height: 12vw;
    top: 90%;
  }
  #container-wave-3 {
    height: 12vw;
    top: 93%;
  }
  #container-wave-4 {
    height: 10vw;
    top: 87%;
  }
  #container-wave-5 {
    height: 10vw;
    top: 85%;
  }
}

/* #test {
  position: fixed;
  top: 0;
  width: 10%;
  height: 10%;
  background-color: red;
  z-index: 2;
  cursor: pointer;
} */